.nav-link {
    position: relative;
    text-decoration: none;
    transition: color 0.1s ease;
  }
  
  .nav-link::after {
    content: "";
    position: absolute;
    bottom: -2px; /* Adjust the distance from the text */
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 110%;
    height: 3px; /* Thickness of the line */
    background-color: rgb(221, 221, 41); /* Line color */
    transition: transform 0.1s ease;
    border-radius : 8px;
  }
  
  .nav-link:hover::after {
    transform: translateX(-50%) scaleX(1);
  }
  